<link href=
"https://fonts.googleapis.com/css?family=Raleway:200,400&display=swap"
 rel="stylesheet">
 
 <link href=
 "https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap"
 rel="stylesheet"> 
<link rel="stylesheet" href="/hi.css">


<div class="container">
    <p class="header">Hi. Thanks for reaching this far! </p class="header">
</div>

<div class="article">
    <p>
        <span style="text-align: center; display: block;font-weight: 600; font-size: 28px;">I hope you're doing well</span>
        <span style="display: block;">
            I made this site, dedicated to tell you what I could not say in chat.
            I made this site as an attempt to value our friendship, and wrap up most of my feelings.
            The procedure is very easy, it's as the following:
            <ul>
                <li>Write your name in the form below</li>
                <li>Some stuff that I'll add later</li>
                <li>If you're Kylie, just write Kylie and I'll take care of the whole shit</li>
                <form method="POST" class="form" action="/about">
                    <input type="text" name="details" class="text">
                    <input type="submit" value="Submit" class="submitbutton">
                </form>
            </ul>
        </span>
    </p>
</div>