<html>
  <head>
     <link href="https://fonts.googleapis.com/css?family=Livvic:200,300,700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="/style.css">
  </head>

  
<div class = "myContainer">
  <p id="myH1" class="head">
    Hello! <br/>
    <span style="font-size: 32px;">I got a gift for you</span>
  </p>
  <p class="head2">
    I'm sure you're wondering what's inside, <br>
    great question! Why not look inside?
  </p>
  <form method="POST" action="/greet" class="container">
    <button class="myButton" onClick="buttonTriggered()">
      Look inside
    </button>
  </div>
  
</div>
</html>