<head>
    <style>
        body
        {
            background: url(<%=myR.fav_img%>) no-repeat;
            background-size: cover;
        }

        *
        {
            font-family: Quicksand;
        }
    </style>
     <link href=
     "https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap"
     rel="stylesheet"> 
</head>

<h1 style="text-align: center; margin-top: 20px; font-size: 32px margin-bottom: 15%"><%=myR.name%></h1>
<div style="display: flex">

</div>
<p style="text-align: center; margin: auto; top: 30%; text-align: center;width: 72%; font-size: 32px; background-color:#6b6676" ><%=myR.paragraph%></p>